{% extends "CoreBundle::Errors/base.html.twig" %}

{% block content %}

    <h1>Page not found!</h1>

    <p>We could not find the page you requested.</p>

    {% if debug is defined %}
        <h2>This is the routing information:</h2>

        {{ pxdump(routing) }}
    {% endif %}

{% endblock %}
