{% extends "CoreBundle::Default/base.html.twig" %}

{#
    This template is called when no actual _page/frontpage has been defined elsewhere.

    It should only be displayed when the site has not been configured correctly yet.
#}

{% block content %}

<h1>Welcome to your new site!</h1>

<p>
    Once your site is configured this page will magically disappear.
</p>

{% endblock %}
