{% extends "CoreBundle::Default/base.html.twig" %}

{#
    This template is called when no actual has been defined elsewhere.

    It should only be displayed when the site has not been configured correctly yet.
#}

{% block content %}

<h1>Fall-back template for a page</h1>

<p>
    This should have been configured correctly.
</p>

{% endblock %}
