{% extends "CoreBundle::Errors/base.html.twig" %}

{% block content %}

    <h1>Page not found!</h1>

    {% if app.session.hasFlash('custom404') %}
        <p>{{ app.session.flash('custom404') }}</p>
    {% else %}
        <p>We could not find the page you requested.</p>
    {% endif %}

{% endblock %}
