{% extends "CoreBundle::Errors/base.html.twig" %}

{#
    This template is called when no actual has been defined elsewhere.

    It should only be displayed when there is no view configured yet.

    This is the final template to be searched for. It should be very rare to show this.
#}

{% block content %}

    <h1>Oops!</h1>

    <p>It seems that there is no view configured or found.</p>

    {% if debug %}
        <h2>This is the routing information:</h2>

        {{ pxdump(routing) }}
    {% endif %}

{% endblock %}
